<p>vmware/clarity <button class="btn btn-sm" style="margin-left:20px;">Back to pinned repos</button></p>
<ul id="demoTabs" class="nav" role="tablist">
    <li role="presentation" class="nav-item">
        <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1"
                aria-selected="true" type="button">Details</button>
    </li>
    <li role="presentation" class="nav-item">
        <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"
                aria-selected="false" type="button">Commits</button>
    </li>

</ul>
<section id="panel1" role="tabpanel" aria-labelledby="tab1">
  <div class="timeline-body" [innerHTML]="data$.detailsHTML" style="padding:30px;"></div> 
</section>
<section id="panel2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
    ...
</section>
